[submodule "import/gnucobol"]
	path = import/gnucobol
	url = https://github.com/OcamlPro/gnucobol.git
	branch = gnucobol-3.x
[submodule "import/superbol-vscode-debug"]
	path = import/superbol-vscode-debug
	url = https://github.com/OCamlPro/superbol-vscode-debug.git
	branch = superbol-vscode-debug
[submodule "import/gnucobol4"]
	path = import/gnucobol4
	url = https://github.com/OcamlPro/gnucobol.git
	branch = gitside-master
[submodule "vendors/model-explorer"]
	path = vendors/model-explorer
	url = https://github.com/nberth/model-explorer.git
	branch = ui-customizations
